body {
    background-color: #d0e7f9;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    height: 30rem;
    width: 30rem;
    background: rgb(32,35,54);
    background: linear-gradient(0deg, rgba(32,35,54,1) 24%, rgba(60,78,159,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle2 {
    height: 13rem;
    width: 13rem;
    background-color: #363b59;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    box-shadow: -3px -4px 15px 4px rgba(0,0,0,0.75);
}

.circle1 {
    height: 9rem;
    width: 9rem;
    background-color: #161825;
    border-radius: 50%;
    box-shadow: -3px -5px 15px 7px rgba(66,72,108,255);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
   
}

.center2 {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 5;
}

.center1{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #cac6df;
    box-shadow: -1px -1px 10px 1px rgba(0,0,0,0.75);
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.barGreen{
    background-color: #8cf694;
    height: 20rem;
    width: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 5rem;
    border-radius: 10px;
    box-shadow: inset 0px 1px 8px 1px rgba(0,0,0,0.75);
}

.barRed{
    background-color: #f26259;
    height: 20rem;
    width: 1.5rem;
    position: absolute;
    left: 1rem;
    top: 5rem;
    border-radius: 10px;
    box-shadow: inset 0px 1px 8px 1px rgba(0,0,0,0.75);
}

.barYellow{
    background-color: #fff05f;
    height: 20rem;
    width: 1.5rem;
    position: absolute;
    bottom: 18rem;
    left: 14.2rem;
    border-radius: 10px;
    transform: rotate(90deg);
    box-shadow: inset 0px 1px 8px 1px rgba(0,0,0,0.75);
}

.barBlue{
    background-color: #5daeff;
    height: 20rem;
    width: 1.5rem;
    position: absolute;
    top: 18rem;
    left: 14.2rem;
    border-radius: 10px;
    transform: rotate(90deg);
    box-shadow: inset 0px 1px 8px 1px rgba(0,0,0,0.75);
}

.number {
    --rotation: 0;
    transform: rotate(var(--rotation));
    position: absolute;
    width: 70%;
    height: 70%;
    text-align: center;
    color: #525b9d;
    font-size: 1.5rem;
}

.number1 {--rotation: 30deg;}
.number2 {--rotation: 60deg;}
.number3 {--rotation: 90deg;}
.number4 {--rotation: 120deg;}
.number5 {--rotation: 150deg;}
.number6 {--rotation: 180deg;}
.number7 {--rotation: 210deg;}
.number8 {--rotation: 240deg;}
.number9 {--rotation: 270deg;}
.number10 {--rotation: 300deg;}
.number11 {--rotation: 330deg;}

/* .dialLines{
    background-color: #525b9d;
    background-color: red;
    width: 0.4rem;
    height: 1.5rem;
    border-radius: 10px;
    position: absolute;
    top: 4rem;
    transform: rotate(30deg);
    --rotation: 0deg;
    transform: rotate(var(--rotation));

} */



.hourHand{
    /* --rotation: 30deg; */
    background-color: white;
    height: 7rem;
    width: 1rem;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    /* transform: rotate(var(--rotation)); */
    border: 1px solid black;
    border-radius: 20px;
    --rotation: 0;  
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    z-index: 2;
}

.minuteHand{
    /* --rotation: 60deg; */
    background-color: white;
    height: 10rem;
    width: 1rem;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    /* transform: rotate(var(--rotation)); */
    border: 2px solid black;
    border-radius: 20px;
    --rotation: 0; 
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    z-index: 1;

}

.secondHand{
    /* --rotation: 90deg; */
    background-color: red;
    height: 12rem;
    width: 0.2rem;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    /* transform: rotate(var(--rotation)); */
    border-radius: 20px; 
    --rotation: 0;    
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    z-index: 3;
}